<%= render 'partials/header' %>

<br>
<br>
<div id="contact-page">
<%= render :partial => "partials/feature", locals: {type: @full_feature, picture: "fineart_cover.jpg"} %>
</div>
<br><br>
<div id="for-artists-page">
	<div id="title">For Artists</div>
	<div id="criteria">
	For Artists

	If you are an artist who would like to consider having J. Todd Galleries represent you, you can make a submission to us via email at <a href="mailto:fineart@jtodd.com">fineart@jtodd.com</a>.  We are mostly interested in oils on canvas.  We will consider acrylics and watercolor only if you have a proven track record in the $1,000 and above price range.  We are NOT currently accepting pastel, graphics or sculpture.  Please allow three weeks to get a response.
	<br><br><br>
	Here's what you'll need to tell us:
	<br><br>
	1) Your <span class="bold-it">name</span>
	<br><br>
	2) Your <span class="bold-it">address</span>
	<br><br>
	3)Your <span class="bold-it">telephone number</span>
	<br><br>
	4) Your <span class="bold-it">e-mail address</span>
	<br><br>
	5) Your <span class="bold-it">biographical information</span>, e.g. where you learned to paint, educational data, other galleries where you've shown, any awards or distinctions you've earned, etc.  
	<br><br>
	6) What you paint, e.g. <span class="bold-it">medium, subjects, typical sizes</span>, etc.
	<br><br>
	7) Send us a minimum of <span class="bold-it">five images of available paintings</span>. Do NOT send us images of sold artwork. The subject of the e-mail must be <span class="bold-it">ARTIST SUBMISSION</span>, otherwise it may be thrown out as spam. 
	<br><br>
	8) Include the <span class="bold-it">size</span> of each piece
	<br><br>
	9) Include the <span class="bold-it">retail price</span> of each piece

	</div>
</div>
<br><br><br>
<%= render 'partials/footer' %>