<%= render 'partials/header' %>

<br>
<br>
<div id="index2">
<%= render :partial => "partials/feature", locals: {type: @full_feature} %>
</div>

<div id="complete-upload-panel">
	<%= render 'form' %>
</div>

<%= render 'addkeyword' %>