<%= render 'partials/header' %>

<br>
<br>

<%= render :partial => "partials/feature", locals: {type: @full_feature} %>

<br><br>


<div id="fineart-full-page">
	<div id="search-panel">
		<div id="top-round">
		</div>
		<div id="main-row">
			<div id="column-1">
				<div id="row-1">
				Power Search
				</div>
			</div>
			<div id="column-2">
			</div>
		</div>
		<div id="bottom-round">
		</div>
	</div>
</div>