<div id="feature-panel">

	<% if type %>
	<div id="full-feature">
	</div>

	<% else %>
	<div id="multiple-features">
		<div id="feature-1-of-3" class="a-feature">
		</div>
		<div id="feature-2-of-3" class="a-feature">
		</div>
		<div id="feature-3-of-3" class="a-feature">
		</div>
	</div>
	<% end %>
</div>