<div id="about-admin-panel">
	<%= link_to "Gallery Admin", about_gallery_admin_path %><br><br>
	<%= link_to "Staff Admin", about_staff_admin_path %><br><br>
	<%= link_to "Facts Admin", facts_admin_path %>
</div>