<!DOCTYPE html>
<html>
<head>
  <title>J. Todd Galleries</title>
  <script src="//use.typekit.net/kvr1ikz.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">			
	@import url("//fast.fonts.net/lt/1.css?apiType=css&c=49f00e73-457e-4648-9841-a5f5672c6941&fontids=1413735");
	@font-face{
		font-family:"Marion W01 Italic";
		src:url("Marion W01 Italic.eot");
		src:font-url("Marion W01 Italic.eot?#iefix") format("eot"),font-url("Marion W01 Italic.woff2") format("woff2"),font-url("Marion W01 Italic.woff") format("woff"),url("Marion W01 Italic.ttf") format("truetype"),url("Marion W01 Italic.svg#ce870bc5-e2f4-4a28-ba41-be283e8d5ba3") format("svg");
}

	</style>


</head>
<body>

<%= yield %>
<div id="popup-panel">
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
